.card {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 10px;
}

.details {
  flex-grow: 1;
  color: #888;
}

.title {
  font-size: 16px;
  margin-bottom: 5px;
  color: #888;
}

.price {
  font-size: 14px;
  color: #888;
  margin-bottom: 5px;
}

.quantity {
  display: flex;
  align-items: center;
  width: 200px;
}

.quantityValue {
  margin: 0 10px;
}

.button {
  font-size: 14px;
  color: #888;
  border: 1px solid #ccc;
  background-color: transparent;
  cursor: pointer;
  justify-items: center;
}

.button:hover {
  background-color: #f0f0f0;
}
